/* @font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato-Light.ttf") format("truetype");
}
 */
#header {
    font-weight: 300;
    color: rgba(2,121,182,1);
}

:root {
    font-family: 'Lato', sans-serif;
}